<div class="add-event">
    <div class="title">
        Add new Event
    </div>
    
    <div class="add-event-form">
        <input type="text" value="" name="name"/>
        <input type="hidden" value="2" name="author"/>
        <input type="text" value="" name="description"/>
        <button class="submit-event">add</button>
    </div>
</div>
