<link href="~/Content/index.css" rel="stylesheet" />
<script id="index-template" type="text/x-handlebars-template">
                   
    <div class="theme">
          <p>Current events</p>
    </div>

    <div class="main-wrapper">
        {{#each events}}
            <div class="event">
                <div class="event-name"><span>Teaser: </span>{{Teaser}}</div>
                <div class="event-name"><span>User: </span>{{User}}</div>
                <div class="event-name"><span>Name: </span>{{Name}}</div>
                <div class="description"><span>Category: </span>{{Category}}</div>
                <div class="description"><span>Description: </span>{{Description}}</div>
                <div class="description"><span>Cost: </span>{{Cost}}</div>
                <div class="description"><span>Description: </span>{{Description}}</div>
            </div>
        {{/each}}
    </div>
</script>
@*<script src="~/Scripts/main_template/main.js"></script>*@