<div class="add-event-box">
    <div class="title">
        Add new Event
    </div>
    
    <div class="add-event-form">
        <label for="Name">Name</label>
        <input type="text" value="" name="Name"/>
         <label for="Description">Description</label>
        <input type="text" value="" name="Description"/>
         <label for="Teaser">Teaser</label>
        <input type="file" value="" name="Teaser"/>
         <label for="Cost">Cost</label>
        <input type="number" value="" name="Cost"/>
         <label for="Discount">Discount</label>
        <input type="number" value="" name="Discount"/>
        <button class="submit-event">add</button>
    </div>
</div>
<div class="overlay"></div>
